node_modules
package-lock.json
data/ProjectsData Backup feb 24
data/ProjectsData/commitsLengthDistribution.json
.vscode 
*.DS_Store
hs_err*
**/actualImpactSets.json*
**/berke.json
**/fp_result.json
**/tarmaq.json